#main{
  background-color: white;
}
.column {
  float: left;
}


body{

font-size: 30%;


}




.right {


    padding-right:80px;
    padding-bottom: 70px;
      padding-left: 120px

}

.left {
}


.all-in-the-middle{
height:300px;
width: 200px;
border-style: solid;
position: absolute;
top:250px;
right:500px;
left: 550px;




}