#main{
  background-color: blue;
}
column {
  float: left;
}


dt{

padding-left: 120px


}

right {


    padding-right: 20px;
    padding-bottom: 70px;
      padding-left: 120px

}

left {
}

right2{
  padding-right: 20px;
  padding-bottom: 70px;
    padding-left: 120px

}

left2 {

}
